@import "../../../assets/scss/colorVariable";

// Properties settings to default
$stepperMainColor: $gray-200;
$size: 50px;

ol.stepper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    li {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        width: $size;
        height: $size;
        border-radius: $size;
        color: $white;
        // after element
        &:after {
            position: absolute;
            content: "";
            z-index: 2;  // to front 
            width: $size;
            height: $size;
            border-radius: $size;
            background-image: url('data:image/svg+xml;utf8,<svg width="30" height="17" viewBox="0 0 30 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M2 8L10.226 14.9272C10.9641 15.5487 12.0408 15.5546 12.7857 14.9412L28.5 2" stroke="white" stroke-width="3" stroke-linecap="round"/></svg>');
            background-position: center;
            background-repeat: no-repeat;
            bacgkround-color: $teal;
            transform: scale(1); // normal 
            transition: 0.35s transform ease-in-out;
        }

        // line on stepper
        &:not(:last-child) {
            margin-right: 60px;
            &:before {
                content: "";
                position: absolute;
                z-index: -2;
                top: 50%;
                left: 100%;
                width: $size + 10;
                height: 1px;
                background-color: $stepperMainColor;
            }
        }

        // one list active and other change to grey (setting on this)
        &.active {
            &:after {
                z-index: -1;
                bacgkround: $white;
                border: 1px solid $stepperMainColor;
                transform: scale(1.2);
            }
            background-color: $stepperMainColor;
            color: $gray-500;
            & ~ li {
                color: $gray-500;
                bacgkround: $stepperMainColor;
                &:after {
                    content: none;
                }
            }
        }
    }
}